<div class="container-fluid">
    <div class="bg-yellow">
        <p class="text-center">
            #hacemosposiblelosproyectosdetuvida #somosyellow #lohacemosposible
        </p>
    </div>
  <main class="row">
      <div class="col-md-6 parrafo">
          <h3>{{'vallores.section' | translate }}</h3>
        
            <ul class="left">
              <li>{{'trabajoEquipo.section' | translate }}</li>
              <li>{{'empoderamiento.section' | translate}}</li>
              <li>{{'compromiso.section' | translate }}</li>
            </ul>
            <ul class="right">
              <li>{{'integridad.section' | translate }}</li>
              <li>{{'confiabilidad.section' | translate }}</li>
              <li>{{'excelencia.section' | translate }}</li>
            </ul>
          
      </div>
      <div class="col-md-6">
            <div class="hexagon">
                <figcaption>
                   {{'vallores.section' | translate }}
                </figcaption>
            </div>
            <img src="../../assets/bg/formaTwo.webp" alt="forma poligonal de imagen" class="img-fluid">
            <img src="../../assets/yellow-logo/logoYellow_bgTransparent.webp" alt="logo yellow ingenieros y arquitectos" class="img-fluid imgLogo">
        </div>
  </main>
</div>