<div class="container-fluid">
  <div class="bg-yellow">
      <p class="text-center">
          #hacemosposiblelosproyectosdetuvida #somosyellow #lohacemosposible
      </p>
  </div>
<main class="row">
    <div class="col-md-6 parrafo">
        <h3>{{'motivacion.section' | translate }}</h3>
        <p>{{ 'motivation.section' | translate }}</p>
    </div>
    <div class="col-md-6">
          <div class="hexagon">
              <figcaption>
                 {{'motivacion.section' | translate }}
              </figcaption>
          </div>
          <img src="../../assets/bg/motivacion.png" alt="forma poligonal de imagen" class="img-fluid">
          <img src="../../assets/yellow-logo/logoYellow_bgTransparent.png" alt="logo yellow ingenieros y arquitectos" class="img-fluid imgLogo">
      </div>
</main>
</div>