<main class="container-fluid" id="contF">
  <div class="row">
      <div class="col-md-2 col-xs-6">
        <img src="../../assets/equipo-Yellow/equipo-yellow.webp" alt="equipo Yellow Ingenieros & Arquitectos" class="img-fluid hColorNormal">
      </div>
      <div class="col-md-2 col-sm-6">
        <img src="../../assets/equipo-Yellow/equipo-dic.webp" alt="equipo departamento Imagen Corporativa" class="img-fluid op">
      </div>
      <div class="col-md-2 col-sm-6">
        <img src="../../assets/equipo-Yellow/cumple-mich.webp" alt="cumpleaño Michelle yellow" class="img-fluid op">
      </div>
      <div class="col-md-2 col-xs-6 par" (click)="mMision()" id="m"
      data-toggle="modal" data-target="" (mouseenter)="clickme()" (mouseleave)="click()">
        <p class="text-center">            
        {{ 'mission.section' | translate }}
        </p>
        <p class="d-none" id="clickme"></p>
      </div>
      <div class="col-md-2 col-xs-6">
        <img src="../../assets/equipo-Yellow/esteban-hernandez-peq.webp" 
        alt="esteban-hernandez" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/equipo-taller.webp" 
        alt="equipo taller" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/equipo-construccion.webp" 
        alt="equipo equipo-construccion" class="img-fluid">
      </div>   

      <div class="col-md-2 col-xs-6 par" (click)="mVision()"
      data-toggle="modal" data-target="" id="v" (mouseenter)="visionM()" (mouseleave)="vision()">
        <p class="text-center">
          {{'vission.section' | translate }}
        </p>
        <p class="d-none" id="visionM"></p>
      </div>

      <div class="col-md-2 col-xs-6">
        <img src="../../assets/equipo-Yellow/bienvenido-hernandez-peq.webp" 
        alt="bienvenido-hernandez" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/equipo-presupuesto-yellow.webp" 
        alt="equipo equipo-presupuesto-yellow" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/construccion-boruka.webp" 
        alt="construccion boruka" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/pasantes.webp" 
        alt="pasantes yellow" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6">
        <img src="../../assets/equipo-Yellow/victor-hernandez-peq.webp" 
        alt="victor hernandez" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/equipo-administrativo.webp" 
        alt="equipo administrativo" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/cumple-leo.webp" 
        alt="cumpleaños leo" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 par" (click)="seguridad()"
      data-toggle="modal" data-target="" id="se" (mouseenter)="seguridadM()" (mouseleave)="segu()">
        <p class="text-center">
          {{'seguridad.section' | translate }}
        </p>
        <p class="d-none" id="seguridadM"></p>
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/yellow-funniest.webp" 
        alt="yellow Funniest moment" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 par" (click)="motivacion()"
      data-toggle="modal" data-target="" id="moti" (mouseenter)="motivacionM()" (mouseleave)="moti()">
        <p class="text-center">
          {{'motivacion.section' | translate }}
        </p>
         <p class="d-none" id="motivacionM"></p>
      </div>
      <div class="col-md-2 col-xs-6 par"(click)="calidad()"
      id="ca" data-toggle="modal" data-target="" (mouseenter)="calidadM()" (mouseleave)="cal()">
        <p class="text-center">
          {{ 'calidad.trans-section' | translate }}
        </p>
         <p class="d-none" id="calidadM"></p>
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/equipo-rh-finanzas.webp" alt="" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 par" (click)="valores()"
      id="va" data-toggle="modal" data-target="" (mouseenter)="valoresM()" (mouseleave)="val()">
        <p class="text-center">
          {{'vallores.section' | translate }}
        </p>
         <p class="d-none" id="valoresM"></p>
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/bienvenido-esteban-victor-peq.webp" 
        alt="bienvenido esteban y victor" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6">
        <img src="../../assets/equipo-Yellow/equipo-yellow-2.webp" 
        alt="equipo yellow frente oficinas" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/equipo-yellow-3.webp"
         alt="equipo yellow frente oficinas administrativas" class="img-fluid">
      </div>
  </div>

  <!-- Yellow Vision -->
  <div class="noVisible" id="vision">
    <p class="text-center">
      {{ 'vision.section' | translate }}
    </p>
  </div>
  <!-- Yellow Mision -->
  <div id="mision" class="noVisible">
    <p class="text-center">
      {{ 'mision.section' | translate }} 
    </p>
  </div>
  <!-- yellow valores -->
  <div class="noVisible" id="valores">
    <p class="text-center">
       <span class="right">
        {{'trabajoEquipo.section' | translate }} <br>
        {{'empoderamiento.section' | translate}} <br>
        {{'compromiso.section' | translate }}
       </span>
       <span class="left">
        {{'integridad.section' | translate }} <br>
        {{'confiabilidad.section' | translate }} <br>
        {{'excelencia.section' | translate }}
       </span>
    </p>
  </div>
  <!-- Yellow Motivacion -->
<div class="noVisible" id="motivacion">
  <p class="text-center">
    {{'motivation.section' | translate }}
  </p>
</div>

<!-- Calidad Yellow -->
<div class="noVisible" id="calidad">
  <h3>{{'politicasCalidad.section' | translate }}</h3>
  <p>
    <span>{{'politicalidad.section' | translate }}</span> <br><br>
    <span>{{'politicalidad.sectionOne' | translate }}</span> <br><br>
    <span>{{'politicalidad.sectionTwo' | translate }}</span> <br><br>
    <span>{{'politicalidad.sectioThree' | translate }}</span> <br><br>
    <span>{{'politicalidad.sectionFour' | translate }}</span>
  </p>
</div>

<!-- Seguridad Yellow -->
<div class="noVisible" id="seguridad">
  <h3>{{'politicasSeguridad.section' | translate }}</h3>
  <p>
    <span>{{'politicaseguridad.section' | translate }}</span>  <br><br> 
    <span>{{'politicaseguridad.sectionOne' | translate }}</span>  <br><br>
    <span>{{'politicaseguridad.sectionTwo' | translate }}</span>  <br><br>
    <span>{{'politicaseguridad.sectioThree' | translate }}</span>  <br><br>
    <span>{{'politicaseguridad.sectionFour' | translate }}</span>  <br><br>
    <span>{{'politicaseguridad.sectionFive' | translate }}</span>
  </p>
</div>

  <!-- Modals Sections Mision, Vision y Valores -->

  <div class="modal fade" id="visionModal" tabindex="-1" role="dialog"
   aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{'vision.section'| translate }}
        </div>
       <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>

  <div class="modal fade" id="misionModal" tabindex="-1" 
  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{'mision.section'| translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="valoresModal" tabindex="-1" 
  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="flex">
              <span class="right">
                  {{'trabajoEquipo.section' | translate }} <br>
                  {{'empoderamiento.section' | translate}} <br>
                  {{'compromiso.section' | translate }}
                 </span>
                 <span class="left">
                  {{'integridad.section' | translate }} <br>
                  {{'confiabilidad.section' | translate }} <br>
                  {{'excelencia.section' | translate }}
                 </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="motivacionModal" tabindex="-1" 
  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{'motivation.section'| translate }}
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="calidadModal" tabindex="-1" 
  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{'politicasCalidad.section' | translate }}</h5>
            </div>
        <div class="modal-body">
          <ul>
            <li>{{'politicalidad.section'| translate }}</li>
            <li>{{'politicalidad.sectionOne' | translate }}</li>
            <li>{{'politicalidad.sectionTwo' | translate }}</li>
            <li>{{'politicasCalidad.sectionThree' | translate }}</li>
            <li>{{'politicalidad.sectionFour' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="seguridadModal" tabindex="-1" 
  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{'politicasCalidad.section' | translate }}</h5>
            </div>
        <div class="modal-body">
          <ul>
            <li>{{'politicaseguridad.section'| translate }}</li>
            <li>{{'politicaseguridad.sectionOne' | translate }}</li>
            <li>{{'politicaseguridad.sectionTwo' | translate }}</li>
            <li>{{'politicaseguridad.sectionThree' | translate }}</li>
            <li>{{'politicaseguridad.sectionFour' | translate }}</li>
            <li>{{'politicaseguridad.sectionFive' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</main>