<main class="container-fluid" id="contF">
  <div class="row">
      <div class="col-md-2 col-xs-6">
        <img src="../../assets/equipo-Yellow/equipo-yellow.jpg" alt="equipo Yellow Ingenieros & Arquitectos" class="img-fluid">
      </div>
      <div class="col-md-2 col-sm-6">
        <img src="../../assets/equipo-Yellow/equipo-dic.jpg" alt="equipo departamento Imagen Corporativa" class="img-fluid op">
      </div>
      <div class="col-md-2 col-sm-6">
        <img src="../../assets/equipo-Yellow/cumple-mich.jpg" alt="cumpleaño Michelle yellow" class="img-fluid op">
      </div>
      <div class="col-md-2 col-xs-6 par" (click)="mMision()">
        <p class="text-center">            
        {{ 'mission.section' | translate }}
        </p>
      </div>
      <div class="col-md-2 col-xs-6">
        <img src="../../assets/equipo-Yellow/esteban-hernandez-peq.jpg" 
        alt="esteban-hernandez" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/equipo-taller.jpg" 
        alt="equipo taller" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/equipo-construccion.jpg" 
        alt="equipo equipo-construccion" class="img-fluid">
      </div>   

      <div class="col-md-2 col-xs-6 par" (click)="mVision()">
        <p class="text-center">
          {{'vission.section' | translate }}
        </p>
      </div>

      <div class="col-md-2 col-xs-6">
        <img src="../../assets/equipo-Yellow/bienvenido-hernandez-peq.jpg" 
        alt="bienvenido-hernandez" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/equipo-presupuesto-yellow.jpg" 
        alt="equipo equipo-presupuesto-yellow" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/construccion-boruka.jpg" 
        alt="construccion boruka" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/pasantes.jpg" 
        alt="pasantes yellow" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6">
        <img src="../../assets/equipo-Yellow/victor-hernandez-peq.jpg" 
        alt="victor hernandez" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/equipo-administrativo.jpg" 
        alt="equipo administrativo" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/cumple-leo.jpg" 
        alt="cumpleaños leo" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 par">
        <p class="text-center">
          {{'seguridad.section' | translate }}
        </p>
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/yellow-funniest.jpg" 
        alt="yellow Funniest moment" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 par">
        <p class="text-center">
          {{'motivacion.section' | translate }}
        </p>
      </div>
      <div class="col-md-2 col-xs-6 par">
        <p class="text-center">
          {{ 'calidad.trans-section' | translate }}
        </p>
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/equipo-rh-finanzas.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 par">
        <p class="text-center">
          {{'vallores.section' | translate }}
        </p>
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/bienvenido-esteban-victor-peq.jpg" 
        alt="bienvenido esteban y victor" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6">
        <img src="../../assets/equipo-Yellow/equipo-yellow-2.jpg" 
        alt="equipo yellow frente oficinas" class="img-fluid">
      </div>
      <div class="col-md-2 col-xs-6 op">
        <img src="../../assets/equipo-Yellow/equipo-yellow-3.jpg"
         alt="equipo yellow frente oficinas administrativas" class="img-fluid">
      </div>
  </div>

  <div class="mo-mvv" id="vision">
    <p class="text-center">
      {{ 'vision.section' | translate }}
    </p>
  </div>
  <div id="mision" class="mo-mvv">
    <p class="text-center">
      {{ 'mision.section' | translate }} 
    </p>
  </div>
  <div class="mo-mv" id="valores">
    <p class="text-center">
       
    </p>
  </div>
  
</main>